.Rproj.user
.Rhistory
.RData
.Ruserdata
hw2/*.csv*
hw2/*.csv*
hw2/*.csv*
hw2/*.csv*
hw2/*.csv*
hw2/*.csv*
hw3/chartevents_pq/
*.parquet
*.html
*.png
*.DS_Store
*.json
chartevents_pq
biostat-20b-2026-winter.Rproj
